<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="
 http://www.springframework.org/schema/mvc 
 http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
 http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 http://www.springframework.org/schema/context 
 http://www.springframework.org/schema/context/spring-context-4.0.xsd">


<context:component-scan base-package="pl.fotoszop.controller"/>

<mvc:annotation-driven />

<bean id="viewResolver"
	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix">
		<value>/WEB-INF/pages/</value>
	</property>
	<property name="suffix">
		<value>.jsp</value>
	</property>
</bean>

 <!-- declare beans -->
 <bean id="clientDAODbImpl" class="pl.fotoszop.DAODbImpl.ClientDAODbImpl">
 	<property name="dataSource" ref="dataSource"/>
 </bean>
<import resource = "Spring-Account.xml"/>
<!-- declare datasource bean -->
 <import resource = "Spring-DataSource.xml"/>
 

 <mvc:resources mapping="/resources/**" location="/resources/index/"/>
 <mvc:resources mapping="/css/**" location="/resources/css/" /> 
 <mvc:default-servlet-handler/>
 <mvc:annotation-driven/>
</beans>